:root {
	--white: #fffec6;
	--grey-light: #c7d1af;
	--blue: #96b49c;
	--grey-dark: #5b5847;
	--red: #cc5d4c;
}

:focus {
	outline: transparent;
	box-shadow: 0 0 0 2px var(--gray-light);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white);
	color: var(--gray-dark);
	-webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}
